<h1>Notas de profesor</h1>
<ul>
{{#each notas as | nota |}}
<li>
   El alumno {{nota.alumno.firstName}} tiene la nota {{nota.nota}} en la asignatura: {{nota.asignatura.siglas}}
  <a href="/mod_nota_ETAPA/{{nota._id}}">Modificar</a></li>
   <form method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="nota" value="{{nota._id}}">
        <input type="submit" value="borrar">
    </form>
</li>
{{/each}}
</ul>