<h1>Listado de FCTs</h1>
<ul>
{{#each alumnosFCT as | alumnoFCT |}}
<li>
 <p>La practica es del alumno/a {{alumnoFCT.alumno.firstName}} en la empresa {{alumnoFCT.empresa.name}} del FP {{alumnoFCT.fp.nombre}}
   esta en practicas desde {{alumnoFCT.fecha_inicio}} hasta {{alumnoFCT.fecha_final}}</p>
 <p>En esta practica el tutor@ {{alumnoFCT.tutor.firstName}} con el tutor laboral {{alumnoFCT.tutor_laboral}} </p>

    <a href="/mod_FCT/{{alumnoFCT._id}}">Si quiere Modificar pinche aqui</a> 
        <form method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="fct" value="{{alumnoFCT._id}}">
            <input type="submit" value="borrar">
        </form>
</li>
{{/each}}
</ul>

