<!-- Content pagina -->
<div class="container-fluid">
	
	<div class="page-header">
		<h1 class="text-titles"><i class="zmdi zmdi-money-box zmdi-hc-fw"></i> Registro<small>de Notas</small></h1>
	</div>
	<p class="lead">Rellenando el siguiente formulario podremos añadir festivos a las localidades y provincias. Este proceso solo podrá realizarlo el administrador</p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav nav-tabs" style="margin-bottom: 15px;">
				<li class="active"><a href="/crearNota/{{asignatura._id}}">Nueva Nota</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="new">
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-12 col-md-10 col-md-offset-1">
								<form method="post">
								<!--DATOS DE LA ASIGNATURA-->
								<div class="datos_oculto" style="display:block;">
								<input type="text" name="asignatura" value="{{asignatura._id}}"/>
								<input type="text" name="profesor" value="{{profesor}}"/>
								<input type="text" name="etapa" value="{{asignatura.etapa._id}}"/>
								</div>
								 <label class="control-label">Seleccione un trimestre</label>
								 <input  class="form-control" type="number" name="trimestre" min="1" max="3"/>

								 <label class="control-label">Introduzca una nota</label>
								 <input class="form-control" type="number" name="nota" min="1" max="10"/>

								 <label class="control-label">Escriba un comentario (opcional)</label>
								<input  class="form-control" type="text" name="comentario"/>

							<!--DATOS DEL ALUMNO-->
							<div class="form-group">
					         <label class="control-label">Seleccione un Alumno</label>
					          <select class="form-control" name="alumno" id="alumno">
                    			<option selected disabled>Seleccione el alumno</option>
                     				{{#each alumnos as | alumno |}}
                          				<option value="{{alumno._id}}"> {{alumno.firstName}}</option>
                      				{{/each}}
                			 </select>
                		   </div>
							<p class="text-center">
								<button class="btn btn-info btn-raised btn-sm"><i class="zmdi zmdi-floppy"></i> Save</button>
							</p>
						</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="list">
					<div class="table-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>