
<h1>Listado de Festivos</h1>
<ul>
{{#each festivo as | Festivo |}}
<li>
    La fiesta {{Festivo.nombre}} es el {{Festivo.dia}}/{{Festivo.mes}} 
    <a href="/mod_festivo/{{Festivo._id}}">Modificar</a> 
        <form method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="festivo" value="{{Festivo._id}}">
            <input type="submit" value="borrar"></form>
</li>
{{/each}}
</ul>

