<h1>Seleccione uno de los cursos de las dos ETAPAS</h1>
<ul>
{{#each asignaturas as | asignatura |}}
<li>
     {{asignatura.nombre_asignatura}} {{curso.n_cursos}} impartida por {{asignatura.profesor.firstName}} <a href="/mod_asig_ETAPA/{{asignatura._id}}">Modificar</a> 
        <form method="post">
            <input type="hidden" name="curso" value="{{asignatura._id}}">
        </form>
</li>
{{/each}}
</ul>

